
<li>
Diana Franklin, Phillip Conrad, Bryce Boe, Katy Nilsen, <b>Charlotte Hill</b>, <b>Michelle Len</b>, <b>Greg Dreschler</b>, Gerardo Aldana, Paulo Almeida-Tanaka,
<b>Brynn Kiefer</b>, Chelsea Laird, Felicia Lopez, <b>Christine Pham</b>, Jessica Suarez, and <b>Robert Waite</b>. 2013. Assessment of computer science learning in a scratch-based outreach program. In Proceeding of the 44th ACM technical symposium on Computer science education (SIGCSE '13). ACM, New York, NY, USA, 371-376.
DOI:
<a href="http://dx.doi.org/10.1145/2445196.2445304">
http://dx.doi.org/10.1145/2445196.2445304
</a>
</li>


